.navbar .brand {
  display: block;
  float: left;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #333333;
  text-shadow: 1px 1px 1px #ffffff;
  line-height: 1;
}

.navbar .brand:hover {
  text-decoration: none;
}


.caret{
color:#FFFFFF;
}

.navbar .ribbon{
float: right;
z-index: 1031;
height: 0;
}

.navbar .nav > li > a
 {
  @elementHeight: 48px;
  font-size: 15px;
  padding: ((@navbarHeight - @elementHeight) / 2 - 1) 48px ((@navbarHeight - @elementHeight) / 2 + 1);
  line-height: 47px;
  color: #FFFFFF;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  @elementHeight: 48px;
  font-size: 15px;
  padding: ((@navbarHeight - @elementHeight) / 2 - 1) 48px ((@navbarHeight - @elementHeight) / 2 + 1);
  line-height: 47px;
  color: #FFFFFF;
}